<footer class="footer">
    <div class="footer__inner">
        <small class="footer__copyright">©</small>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/script.js" async></script>
</body>
</html>