<header class="header">
    <div class="header__inner">
        <h1 class=""><a href="" class=""></a></h1>
        <nav class="globalNav">
            <ul class="globalNav__list">
                <li class="globalNav__item">
                    <a href="" class="globalNav__linkItem"></a>
                </li>
            </ul>
        </nav>
    </div>
</header>