<% var title = 'トップページのタイトルタグ'; %>
<% var description = 'トップページのディスクリプション'; %>
<% var path = '.'; %>
<% include common/_header %>

	<header class="header">
		<div class="header-inner">
			<h1 class=""><a href="" class=""></a></h1>
			<nav class="gnav">
				<ul class="gnav-list">
					<li class="gnav-item">
						<a href="" class="gnav-link"></a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<main></main>
	<footer class="footer">
		<div class="footer-inner">
			<small class="footer-copyright">©</small>
		</div>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="js/script.js" async></script>
	</body>

	</html>