<% 
let header = {
        title:'クモのようにコツコツと ~別館~',
        text: 'イイダリョウのメタ言語実験室'
    }
    let main = {
        title:'メタ言語同時コンパイル（EJS、Sass(SCSS)、TypeScript）',
        lede: 'CodepenのSettingの旅CSS編第2回。今回はSCSS。LESSに似てる？',
        link: '別ページへ'
    }
    let inner = [
        {
        title:'ネスト（階層化）',
        text: 'SCSSもdivのネストの階層化ができる。この段落は<em class="inner__text-em">ネスト</em>でスタイルを当てている。<br>ん？この書き方はLESSとほぼまったく同じだ。<br><span class="inner__text--bikou">インデントについても厳密でじゃでなくても解釈してくれるようだ（？）</span>'
        },
        {
        title:'親セレクタの参照',
        text: 'おそらくLESSにはないSCSS専用の機能。ネストして「&」に擬似要素を付けると親セレクタを参照できる<br><span  class="inner__text-bikou">この尾行欄につけている「※」印は「.bikou:before」ではなく「&:before」だけで済んでいる。 </span>'
        },
        {
        title:'TypeScriptで書いたクリックイベント',
        text: '<div class="inner__text-flex"><button class="inner__text-btn">ここ押せワンワン</button></div>'
        }
    ]
    let footer = {
        text:'© 2020 イイダリョウ'
    }
%>

<!doctype html>
<html>
    <head>
        <%- include('base/_head', {main: main}); %>
     </head>
     <body>
        <%- include('block/_header', {header: header}); %>
        <%- include('block/_main', {main: main, inner: inner}); %>
        <%- include('block/_footer', {footer: footer}); %>
    </body>
</html>